<% content_for :body do %>
  <nav>
    <% if content_for?(:navbar) %>
      <%= yield :navbar %>
    <% else %>
      <% if signed_in? %>
        <%= render 'topbar/user_topbar' %>
      <% else %>
        <%= render 'topbar/general_topbar' %>
      <% end %>
    <% end %>
  </nav>

  <section class="main-section">
    <div class="container">
      <div class="row">
        <%= content_for?(:main_section) ? yield(:main_section) : yield %>
      </div>
    </div>
  </section>

  <footer>
    <% if content_for?(:footer) %>
      <%= yield :footer %>
    <% else %>
      <%= render 'layouts/footer' %>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
  </footer>
<% end %>

<%= render :file => 'layouts/application' %>